html, body
  font-size 11pt

.navbar
  margin-bottom 0
  border-bottom 0
  position relative
  .logo
    position absolute
    height 100px
    a
      display block
      img
        z-index 100
  .nav
    li
      div
        padding-top 11px
        a.social-icon
          padding 0 0.5rem
.breadcrumb-container
  padding-top 5rem

.nav-pills
  padding-top 0.3rem

.fuckin-go-left
  padding 0
 
.carousel-container
  overflow hidden
  padding 0
  .carousel-inner
    .item
      height 30rem
      overflow hidden
      .cottage 
        margin 0 auto
        margin-top -100px
      .bags
        margin 0 auto
        margin-top -225px
      .pushup
        margin 0 auto
        margin-top -225px
      .kettlebell
        margin 0 auto
        margin-top -200px
      .machines
        margin 0 auto
        margin-top -200px
      .big-logo
        margin 0  auto
.text
  margin-top 2rem

.features
  margin-top 3rem
  .three-feature-layout
    .feature
      img
        width 100%
        height auto
      a
        display inline-block
        padding 5px
        border 1px solid #ccc
        border-radius 5px
        transition border-color 0.5s
        &:hover
          border-color #428bca
      &.first-feature
        text-align left
      &.second-feature
        text-align center
        height auto
      &.third-feature
        text-align right

.footer
  margin-top 3rem
  padding 1rem
  background #ddd
  .copyright
    text-align right

.breadcrumb
  background transparent
  padding-left 0
  padding-bottom 1rem
  margin-bottom 2rem
  border-bottom 1px solid #ccc
  border-radius 0

.content-left
  float left
  width 600px

.sidebar
  padding-top 0
  float right
  width 300
  font-size 0.8rem
  h3
    margin-top 0
    line-height 1
    margin-bottom 1rem
    bitches yes
  .sidebar-sections
    .sidebar-section
      margin-bottom 0.5rem
      .title
        display block
        float left
        width 50px
        font-weight bold
      .content
        display block
        overflow hidden

.cac
  text-align center
  color #428cba 
.first-cac
  padding-left 8rem
.third-cac
  padding-right 8rem
