extends layout 

block header
  include header

block content
  iframe (width="425", height="350," frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Colshaw+Hall+Country+Estate,+Stocks+Lane,+Over+Peover&amp;aq=0&amp;oq=cols&amp;sll=53.472245,-2.223463&amp;sspn=0.255437,0.676346&amp;ie=UTF8&amp;hq=Colshaw+Hall+Country+Estate,+Stocks+Lane,+Over+Peover&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=53.266766,-2.340703&amp;spn=0.071946,0.071946&amp;output=embed") small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Colshaw+Hall+Country+Estate,+Stocks+Lane,+Over+Peover&amp;aq=0&amp;oq=cols&amp;sll=53.472245,-2.223463&amp;sspn=0.255437,0.676346&amp;ie=UTF8&amp;hq=Colshaw+Hall+Country+Estate,+Stocks+Lane,+Over+Peover&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=53.266766,-2.340703&amp;spn=0.071946,0.071946" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
  .contact-label
    a(href='/location#contact') Contact Us
  
  .container
    .row
      .col-md-12
        ol.breadcrumb.line
          li
            a(href='/') Home
          li.active
            a(href='/about-us') About us

  .container.page-content
    .row
      .content-left.col-md-9
        p
          | As Cheshire’s most exclusive personal training company, Colshaw Hall Fitness has been providing it’s clients with incredible results and an unrivaled experience since 2012. Over the past few years Colshaw Hall has delivered an impeccable service and helped  transform physiques from completely untrained novices shedding stones in weight, to honing the bodies of sports people and actors, helping them gain top awards for performance and even the accolade of ‘soap awards sexiest female’.
        p
          |  Along with being in the most exclusive setting, Colshaw Hall Fitness boasts the best equipped personal training studio, combining this with Cheshire’s top personal trainers makes it the number one place to achieve your desired results.
      
      .sidebar.col-md-3.side-bitches
        h3 Contact us
        .sidebar-sections
          .sidebar-section
            .title Email
            a('mailto:enquiries@colshawhallfitness.com ')
              .content enquiries@colshawhallfitness.com
          .sidebar-section
            .title Phone
            .content 07787103303

