extends layout
  
block header
  include header

block content

  .container.breadcrumb-container
    .row
      .col-md-12
        ol.breadcrumb.line
          li
            a(href='/') Home
          li.active
            a(href='/contact') Contact Us

  .container.page-content
    .row
      .content-left.col-md-9
        p
          | If you wish to know anymore information about Colshaw Hall Fitness or to book yourself in, please do not hesitate to contact us.
      
      .sidebar.col-md-3.side-bitches
        h3 Contact us
        .sidebar-sections
          .sidebar-section
            .title Email
            .content enquiries@colshawhallfitness.com
          .sidebar-section
            .title Phone
            .content 01565 *** ***

