.footer
  .container
    .row
      .social.col-xs-4.alpha
        a(href='/about-us')
          |  About Us
      .social.col-xs-4
        a(href='/contact')
          |  Contact Us
      .copyright.col-xs4.omega
        | Copyright &copy; ColshawlHallFitness
