nav(role='navigation').navbar.navbar-default.navbar-fixed-topi
  .container-fluid
    .navbar-header.navbar-right
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        .sr-only Toggle navigation
        .icon-bar
        .icon-bar
        .icon-bar
        .icon-bar
        a(href='#').active Placeholder for logo

      .collapse.navbar-collapse
        .nav.navbar-nav
          li
            a(href='/about-us') About us
          li
            a(href='/personal-training') Personal Training
          li
            a(href='/location') Location and Facilities
          li
            a(href='/contact') Contact us
          li
            div
              a.social-icon.social-icon-facebook(href='https://www.facebook.com/pages/Colshaw-Hall-Fitness/273428939512133')
                img(src='/images/glyphicons_pro/glyphicons/png/glyphicons_320_facebook.png')
              a.social-icon.social-icon-twitter(href='javascript:;')
                img(src='/images/glyphicons_pro/glyphicons/png/glyphicons_321_twitter_t.png')
              a.social-icon.social-icon-email(href='javascript:;')
                img(src='/images/glyphicons_pro/glyphicons/png/glyphicons_329_e-mail.png')
            
