extends layout 

block header
  include header

block content
  .carousel-container.fuckin-go-left
    .carousel.slide(data-ride='carousel')#carousel-generic
      ol.carousel-indicators
        li.active(data-target='#carousel-generic', data-slide-to='0')
        li(data-target='#carousel-generic', data-slide-to='1')
        li(data-target='#carousel-generic', data-slide-to='2')

      .carousel-inner
        .item.active
          img.cottage(src='/images/home1&location2.jpg')
        .item
          img.bags(src='/images/home2.jpg')
        .item
          img(src='/images/Home3.jpg')

      a(href='#carousel-generic', role='button', data-slide='prev').left.carousel-control
        .glyphicon.glyphicon-chevron-left
      a(href='#carousel-generic', role='button', data-slide='next').right.carousel-control
        .glyphicon.glyphicon-chevron-right
  
  .container.features
    .row.three-feature-layout
      .col-md-4.feature.first-feature
        a(href='/about-us')
          img(src='/images/rsz_logo.jpg')
      .col-md-4.feature.second-feature
        a(href='/personal-training')
          img(src='/images/rsz_personaltraining2 .jpg')
      .col-md-4.feature.third-feature
        a(href='/location')
          img(src='/images/rsz_1rsz_home1&location2.jpg')
