
extends layout

block header
  include header

block content
  include map
  
  .contact-label
    a(href='/location#contact') Contact Us
  
  .container
    .row
      .col-md-12
        ol.breadcrumb.line
          li
            a(href='/') Home
          li.active
            a(href='/location') Location and Facilities

  .container.page-content
    .row
      .content-left.col-md-9
        p
          | Situated in the private courtyard at Colshaw Hall Country Estate, Colshaw Hall Fitness facilities have been designed to cater for all your fitness needs. The studio contains equipment to a standard not seen in any other personal training gym outside of London, this gives us the best tools to improve your fitness with unlimited boundaries. Over 300 acres surrounding you, giving more than enough space for outside exercise if you wish to make a change from the studio. Our private courtyard also means you never have to worry about finding a parking space, just pull outside the studio and walk in. Once inside your own changing and shower area, luxuriously designed for comfort pre and post session is accessed straight from reception. The reception and waiting area gives the perfect chat with friends after a session or relax if you arrive slightly early.
        p  
          | Colshaw Hall Fitness truly has taken personal training in Cheshire to new heights and our present clients would not swap the unbelievable setting and friendly, motivating atmosphere for any other.
        p 
          | Additional services include gym and shower towels, complimentary toiletries, mineral water for your sessions and a supplement store if you wish to purchase anything to aid your goals.

      .sidebar.col-md-3.side-bitches#contact
        h3 Contact us
        .sidebar-sections
          .sidebar-section
            .title Email
            a('mailto:enquiries@colshawhallfitness.com ')
              .content enquiries@colshawhallfitness.com
          .sidebar-section
            .title Phone
            .content 07787103303
        h3 Address
        .sidebar-sections
          .sidebar-section
            .content Colshaw Hall Fitness
          .sidebar-section
            .content Colshaw Hall, Stocks Lane
          .sidebar-section
            .content Over Peover
          .sidebar-section
            .content Knutsford
          .sidebar-section
            .content Chehsire
          .sidebar-section
            .content WA16 8TW

