extends layout

block header
  include header

block content
  .carousel-container.fuckin-go-left
    .carousel.slide(data-ride='carousel')#carousel-generic
      ol.carousel-indicators
        li.active(data-target='#carousel-generic', data-slide-to='0')
        li(data-target='#carousel-generic', data-slide-to='1')
        li(data-target='#carousel-generic', data-slide-to='2')

      .carousel-inner
        .item.active
          img(src='http://placehold.it/1366x500')
          .carousel-caption
            one one one one
        .item
          img(src='http://placehold.it/1366x500')
          .carousel-caption
            two two two
        .item
          img(src='http://placehold.it/1366x500')
          .carousel-caption
            three three three

      a(href='#carousel-generic', role='button', data-slide='prev').left.carousel-control
        .glyphicon.glyphicon-chevron-left
      a(href='#carousel-generic', role='button', data-slide='next').right.carousel-control
        .glyphicon.glyphicon-chevron-right
  
  .container
    .row
      .col-md-12
        ol.breadcrumb.line
          li
            a(href='/') Home
          li.active
            a(href='/personal-training') Personal Training

  .container.page-content
    .row
      .content-left.col-md-9
        p
          | At Colshaw Hall Fitness we pride ourselves on providing the best service and results from personal training and understand that everyone is different with each client requiring a bespoke program to achieve their goals. 
        p  
          | One of our dedicated trainers will initially sit down with you and conduct a physical assessment to understand your current fitness levels, nutrition, any limitations you may have and most importantly your goals. Once we know where you are up to, we’ll design a complete training and nutrition regime so that we can make those goals a reality. You’ll be  guided every step of the way, with regular checks to make sure we are on target. Any support you may need whether in or outside the gym, your trainer is always at hand to help. 
        p  
          |  Payment for your sessions is simple, each hour personal training session costs £40 or £50 if there are two of you training with one trainer. We require upfront booking and payment for your first 5 sessions to confirm a commitment from you so that we can spend time to create your individual programme. From there you can decide which payment method suits you best, whether it’s pay upfront for a block and not have to worry each time you arrive or paying each session before you train.

      .sidebar.col-md-3.side-bitches
        h3 Contact us
        .sidebar-sections
          .sidebar-section
            .title Email
            .content enquiries@colshawhallfitness.com
          .sidebar-section
            .title Phone
            .content 01565 *** ***

